body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#vim-editor {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
}

#vim-screen {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

#vim-cursor {
  padding: 0px;
  margin: 0px;
  position: absolute;
  display: none; /* TODO */
}

#vim-input {
  width: 1px;
  color: transparent;
  background-color: transparent;
  padding: 0px;
  border: 0px;
  outline: none;
  vertical-align: middle;
  position: absolute;
  top: 0px;
  left: 0px;
}

#vim-preedit {
  display: none;
  visibility: hidden;
  position: fixed;
  display: none; /* TODO */
}
